*{
	margin: 0;
	padding: 0;
}
.button{
	width: 50;
	height: 50;
	font-size: 25;
	margin: 2;
	cursor: pointer;
	background: white;
	border: none;
	color: #ac25f9;
	border-radius: 5%;
}
.textview{
	width: 217;
	margin: 5;
	font-size: 25;
	padding: 5 5 5 12;
	border: none;
	outline: 0;
	color: #4f11e0;
	border-radius: 25px 25px 5px 5px;
}
.main{
	position: absolute;
	top: 50%;
	left: 42%;
	transform: translateX(-50%);
	transform: translateY(-50%);
	border: 1px solid white;
	border-radius: 25px 25px 25px 25px;
	background: transparent;
}

.bg{
	background: linear-gradient(to right, #4f11e0,#ac25f9);
	height: 100%;
}

.symbols{
	width: 50;
	height: 50;
	font-size: 25;
	margin: 2;
	cursor: pointer;
	background: #dddddd;
	border: none;
	color: #ac25f9;
	border-radius: 5%;
}